<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu1S4mpLpXibwix4xrPdncq5kZy2Y9FZY</string>
	<key>GCM_SENDER_ID</key>
	<string>988010136983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bimbingan</string>
	<key>PROJECT_ID</key>
	<string>bimbingan-skripsi-f68a0</string>
	<key>STORAGE_BUCKET</key>
	<string>bimbingan-skripsi-f68a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988010136983:ios:0dd28009ea2fbb0d9e30d2</string>
	<key>DATABASE_URL</key>
	<string>https://bimbingan-skripsi-f68a0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>